@import '../styles/base';

chart {
  @media #{$desktop} {
    height: 100%;
  }

  @media #{$mobile} {
    height: auto;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chart-heading {
  color: $light-grey;
  font: {
    size: 18px;
    weight: 100;
  }
  margin-bottom: 10px;
  padding: 5px 5px 8px;
  text-align: center;
}

.chart-container {
  border-bottom: solid 2px $background;
  height: 100%;
  position: relative;
  width: 100%;

  @media #{$mobile} {
    height: 300px;
  }
}

.tool-tip {
  background: $charcoal;
  border: 1px solid fade-out($light-grey, .5);
  box-shadow: 2px 2px 1px fade-out($black, .5);
  color: $light-grey;
  font-size: 12px;
  min-width: 110px;
  padding: 10px;
  position: absolute;

  strong {
    font-size: 14px;
  }

  &:not(.visible) {
    display: none;
  }
}

.chart-svg {
  height: 100%;
  width: 100%;

  .axis-line {
    stroke: $light-grey;
  }

  .axis-text {
    fill: $light-grey;
    font-size: 9px;
  }

  .scale-label-line {
    stroke: $light-grey;
  }

  .scale-label-text {
    fill: $light-grey;
    font-size: 10px;
  }
}

.no-companies {
  align-items: center;
  color: $light-grey;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}
