@import '../styles/base';

chart {
  @media #{$desktop} {
    height: 100%;
  }

  @media #{$mobile} {
    height: auto;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chart-controller {
  border-bottom: solid 2px $background;
  padding: 5px 5px 8px;

  .heading {
    color: $light-grey;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.chart-container {
  border-bottom: solid 2px $background;
  height: 100%;
  width: 100%;

  @media #{$mobile} {
    height: 300px;
  }
}

.chart-svg {
  height: 100%;
  width: 100%;
}
