<div class="chart">
  <div class="chart-controller">
    <div class="heading">
      Stocks
    </div>
    <div class="panel">
      <div class="label">
        Zoom
      </div>
      <div>
        <button
          class="interval-btn"
          *ngFor="let interval of INTERVALS"
          (click)="setChartInterval(interval)"
        >
          {{interval}}
        </button>
      </div>
    </div>
  </div>
  <div class="chart-container" id="chart-container">
    <svg class="chart-svg" #chartSvg id="chart-svg"></svg>
  </div>
</div>
