@import '../styles/base';

chart {
  @media #{$desktop} {
    height: 100%;
  }

  @media #{$mobile} {
    height: 400px;
  }
}

.chart {
  height: 100%;
  width: 100%;
}

.chart-container {
  border-bottom: solid 3px $background;
  height: 100%;
  width: 100%;
}

.chart-svg {
  height: 100%;
  width: 100%;
}
