# Dependencies
node_modules/

# Environmental variables (development)
.env

# Publicly traded companies (source: http://www.nasdaq.com/screening/companies-by-industry.aspx?exchange=NASDAQ)
data/companies.csv
data/companies.json

# Webpack bundles
public/*.js
public/*.css
public/*.map
public/index.html
