@import '../styles/base';

company-search {
  @media #{$desktop} {
    margin-left: 5px;
    width: 25%;
  }

  @media #{$mobile} {
    width: 100%;
  }
}

.company-search-container {
  align-items: center;
  background: $charcoal;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: unquote('calc(100% - 20px)');

  @media #{$desktop} {
    height: unquote('calc(100% - 20px)');
  }

  @media #{$mobile} {
    margin-bottom: 5px;
  }

  input {
    border: solid 1px ligthen($charcoal, 10%);
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    width: 95%;
  }

  .search-results {
    overflow-y: auto;
    width: 100%;

    .search-result {
      align-items: center;
      background: $white;
      border: solid 2px $light-grey;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin: 0 0 5px;
      padding: 5px;
      width: unquote('calc(100% - 5px)');

      @media #{$mobile} {
        width: 100%;
      }

      div {
        text-align: left;
      }

      .info {
        width: 100%;
      }

      .symbol {
        color: $charcoal;
        font-size: 16px;
      }

      .name {
        color: $grey;
        font-size: 12px;
      }

      .icon {
        color: $green;
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}
