<div class="company-search-container">
  <input
    placeholder="Search companies..."
    #searchInput
    (keyup)="search(searchInput.value)"
  />
  <div class="search-results">
    <button
      *ngFor="let company of companies$ | async"
      class="search-result"
      (click)="addCompany(company)"
    >
      <span>
        <span class="symbol">
          {{company.symbol}}
        </span>
        <br>
        <span class="name">
          {{company.name}}
        </span>
      </span>
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
    </button>
  </div>
</div>
